<section class="login">
    <div class="container-fluid mx-auto">

    
    <div class="login-form  mx-auto  ">
        <form action="" class=" p-3 ">
            <label for="email" class="form-label">Email</label>
  <input type="text" class="form-control" id="email" placeholder="Enter your email">
  <label for="password" class="form-label pt-2">Password</label>
    <input type="password" class="form-control " id="password" placeholder="Enter your Password" >
    <button type="submit" class="btn btn-primary rounded-pill order-now mt-4 ">Log in</button>
    <a href="" class="no-account float-end mt-4">Don't have account?</a>
        </form>

    </div>
    <p class="reserve text-center mt-2">© 2022 Manvi Jain.All rights reserved.</p>
</div>
</section>