<section class="orders">
    <div class="container mx-auto">
        <h1>All orders</h1>

        <table class="w-100">
            <thead>
                <tr>
                    <th>Orders</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>status</th>
                    <th>Placed At</th>
                </tr>
            </thead>
            <tbody id="orderdata">

            </tbody>
        </table>
    </div>

</section>