<section class="orders">
    <div class="container mx-auto">
        <h1>All orders</h1>

       <% if(messages.success){%>
                <div class="alert alert-success" id="success-alert" role="alert">
                    <!-- icon -->
                   <%= messages.success %>
                  </div>
                  <% } %>
           <table class="w-100" ">
            <thead>
                <tr>
                    <th>orders</th>
                    <th>Address</th>
                    <th>Time</th>
                </tr>
            </thead>

            <tbody>
                <% if(orders.length){%>
                    <% orders.forEach((order)=>{ %>

                    
                <tr>
                    <td>
                        <a href="/"><%= order._id %></a>
                    </td>
                    <td>
                        <%= order.address %>
                    </td>
                    <td> <%= moment(order.createdAt).format('hh:mm A') %></td>
                </tr>
            <% }) %>
                <% } else {%>
                     <tr> <td>No order found</td></tr>
                    <% } %>
            </tbody>

           </table>
    </div>
</section>